/*******************/
/* General Styling */
/*******************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 50px 100px 50px;
}

/********/
/* Menu */
/********/

#menu-button {
  position: fixed;
  opacity: 0.2;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
  content: "";
  font-size: 150%;
  height: 120px;
  width: 200px;
  z-index: 1000;
  color: rgb(26, 26, 26);
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  background-image: url("../images/speech_bubble.png");
  background-position: center;
  background-size: cover;
  transition: all cubic-bezier(0.19, 1, 0.165, 1.01) 0.5s;
}

#menu-button:hover {
  right: -20px;
  opacity: 1;
}

#menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #eaba6b;
  z-index: 999;
  transition: all cubic-bezier(0.19, 1, 0.165, 1.01) 0.5s;
  left: 100%;
}

#menu ul {
  list-style: none;
  text-align: center;
}

#menu ul li {
  color: white;
  font-size: 500%;
  cursor: pointer;
}

#home-navlink,
#projects-navlink,
#merchandise-navlink,
#contact-us-navlink {
  transition: all 0.2s;
}

#home-navlink:hover,
#projects-navlink:hover,
#merchandise-navlink:hover,
#contact-us-navlink:hover {
  text-shadow: 3px 3px #333333;
}

.menu-visible {
  transform: translateX(-100%);
}

body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*************/
/* Home Page */
/*************/

.top-portion,
.bottom-portion {
  display: flex;
  height: 10%;
  width: 100%;
  position: relative;
}

.top-portion,
.bottom-portion {
  background-color: #254e70;
}

.top-portion img {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
  height: auto;
}

.bottom-portion img {
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
  height: auto;
}

.center-portion {
  display: flex;
  height: 80%;
  width: 100%;
  background-color: #1f1f1f;
  color: white;
}

.center-left,
.center-right {
  display: flex;
  height: 100%;
}

.center-left {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px 0 100px;
  width: 60%;
  height: 100%;
}

.center-right {
  width: 40%;
  justify-content: center;
  align-items: center;
}

.center-left h1 {
  font-size: 300%;
  margin: 0 0 15px 0;
}

.home-page-img {
  content: "";
  height: 80%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  z-index: 1;
}

.home-page-img img {
  border: 5px solid black;
}

.home-page-img:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  transform: rotate(3deg) skewX(7deg) skewY(1deg) translateX(-46%)
    translateY(-48%);
  background: rgb(0, 0, 0);
  border: 10px solid white;
  box-shadow: 0px 0px 15px rgb(0, 0, 0), 3px 3px 5px #000;
}

/**************/
/* Store Page */
/**************/

.store-page {
  background-color: #c2344e;
}

.productimg {
  width: 250px;
  height: 200px;
  display: block;
  padding-top: 10px;
  margin: auto;
}

.productDiv {
  border: solid 1px;
  width: 280px;
  height: 280px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgb(226, 226, 226);
  transition: all cubic-bezier(0.19, 1, 0.165, 1.01) 0.5s;
}

.productDiv:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5), 0px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-20px) rotate(5deg);
  border: solid 1px white;
}

.imgText {
  text-align: center;
  font-size: 25px;
}

#row1 {
  margin: 50px 0 0 0;
}

#row1,
#row2 {
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************************/
/* About / Contact Us Page*/
/**************************/

.about-contact-page {
  color: white;
  background-color: #254e70;
}

#AboutUs {
  text-align: center;
}

#OurTeam {
  text-align: center;
  margin: 50px 0 0 0;
}

#Description {
  text-align: center;
}

#Team {
  display: flex;
  text-align: center;
  width: 100%;
}

.contact-us-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.about-us-img {
  border-radius: 50%;
  width: 190%;
  height: 75%;
}

.center-image-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Kiara {
  padding: 10%;
  text-align: center;
  /*border: 1px solid rgb(235, 14, 14);*/
  padding-top: 1%;
  padding-bottom: 1%;
}

#Alex {
  padding: 10%;
  /*border: 1px solid rgb(235, 14, 14);*/
  padding-top: 1%;
  padding-bottom: 1%;
}

#Matthew {
  padding: 10%;
  /*border: 1px solid rgb(235, 14, 14);*/
  padding-top: 1%;
  padding-bottom: 1%;
}

#Ayla {
  padding: 10%;
  /*border: 1px solid rgb(235, 14, 14);*/
  padding-top: 1%;
  padding-bottom: 1%;
}

/*div{border: 1px solid black;}*/

#left {
  float: left;
  padding: 10px;
  width: 50%;
  padding-top: 0px;
  padding-left: 3%;
}

#right {
  float: right;
  padding: 10px;
  width: 50%;
  padding-top: 0px;
  padding-left: 3%;
  border-left: 1px solid black;
}

.about-us-h1 {
  padding-bottom: 0px;
  text-decoration: underline;
  text-align: center;
  margin: 0 0 50px 0;
}
