/* General Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: overlay;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue";
  text-shadow: 4px 4px #fff;
}

h1 {
  font-size: 72px;
}

p {
  font-family: "Actor";
  font-size: 24px;
}

a,
a:hover,
a:focus,
a:active,
a:link,
a:visited {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Variables */
:root {
  /* Homepage */
  --logo-section-background: rgb(82, 82, 82);
  --homepage-text-left-padding: 50px;
}

/* Fonts */
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Actor";
  src: url("../fonts/Actor-Regular.ttf");
}

.heading-font {
  font-family: "Bebas Neue";
}

/* Reusable Components */

nav {
  width: 100%;
  height: 100px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  width: 10%;
  font-size: 36px;
  color: black;
  text-align: center;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
}

.carousel {
  width: 100%;
  display: flex;
}

.carousel-small {
  height: 600px;
  background-color: green;
}

.carousel-large {
  height: 980px;
}

.carousel-nav-bar {
  height: 100%;
  width: 300px;
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-nav-item {
  display: flex;
  width: 280px;
  height: 50px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue";
  font-size: 36px;
}

.carousel-content {
  height: 100%;
  flex-grow: 1;
  background-color: pink;
}

footer {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-logo-container {
  position: absolute;
  height: 100%;
  width: 300px;
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.footer-navigation-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-navigation-links a {
  font-family: "Bebas Neue";
  font-size: 24px;
  margin: 0 5px 0 5px;
  color: black;
}

.fullscreen-section {
  width: 100%;
  height: 980px;
  display: flex;
  padding: 50px;
}

/* Homepage */

.logo-section {
  width: 100%;
  height: 380px;
  background-color: var(--logo-section-background);
  display: flex;
  flex-wrap: nowrap;
}

.logo-section-left-container,
.logo-section-right-container {
  display: flex;
  height: 100%;
}

.logo-section-left-container {
  width: 300px;
  background-color: red;
  justify-content: center;
  align-items: center;
}

.logo-section-right-container {
  flex-grow: 1;
  background-color: blue;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: var(--homepage-text-left-padding);
}

/* About Us Page */
